@import "tailwindcss";

@import "tw-animate-css";
@plugin "tailwindcss-logical";
@plugin "tailwindcss-react-aria-components";

@import "../shared/styles/theme.css";
@import "../shared/styles/utilities.css";

@source "../**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius: var(--radius);
  --radius-xl: calc(var(--radius) + 6px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in: fade-in 0.3s both;
  --animate-fade-out: fade-out 0.3s both;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes fade-in {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0.95);
      opacity: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=--theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius: 0.5rem;

    --navbar-height: 52px;
    --navbar-border: 1px;
    --banner-height: 0;
    --nav-top-offset: calc(var(--navbar-height) + var(--navbar-border));
  }
}


/* this is required because sandpack root is not getting color scheme due server-side rendering */
.dark .sp-wrapper,
.dark .sp-wrapper .sp-wrapper {
  color-scheme: dark !important;
}

.light .sp-wrapper,
.light .sp-wrapper .sp-wrapper {
  color-scheme: light !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.flex>* {
  min-height: 0;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@theme {
  --breakpoint-desktop: 1024px;
  --breakpoint-mobile: 768px;
}

@keyframes revolve {
  0% {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.animate-revolve {
  animation: revolve var(--duration, 50s) linear infinite;
}

