@import "tailwindcss";

@import "tw-animate-css";
@plugin "tailwindcss-logical";

@import "../shared/styles/theme.css";
@import "../shared/styles/animations.css";
@import "../shared/styles/utilities.css";

@source "../**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: var(--color-bd);

  --radius: var(--radius);
  --radius-xl: calc(var(--radius) + 6px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-bg-none: 0 0 0 0px var(--color-bd), 0 0px 0 0px var(--color-bd);
  --shadow-bg: 0px -1px 0px 0px var(--color-bd-strong) inset, 0px 1px 1px 0px var(--color-bd),
    0 0 0 1px var(--color-bd) inset;
  --shadow-bg-hover: 0px 2px 2px 0px rgba(0, 0, 0, 0.16) inset, 1px 0px 1px 0px rgba(0, 0, 0, 0.08) inset,
    -1px 0px 1px 0px rgba(0, 0, 0, 0.08) inset, 0 0 0 1px #cbcbcb inset;
  --shadow-bg-pressed: 0px 2px 2px 0px rgba(0, 0, 0, 0.16) inset, 1px 0px 1px 0px rgba(0, 0, 0, 0.08) inset,
    -1px 0px 1px 0px rgba(0, 0, 0, 0.08) inset, 0 0 0 1px var(--color-bd) inset;

  --shadow-bg-accent: 0px -1px 0px 0px color-mix(in srgb, var(--color-bg-accent-strong), black 20%) inset,
    0 2px 3px #00000021, 0 0 0 1px var(--color-bd-accent-strong) inset;
  --shadow-bg-accent-hover: 0 0 0 1px var(--color-bd-accent-strong), 0 4px 0 0px var(--color-bd-accent-strong);
  --shadow-bg-accent-pressed: 0px 2px 4px 0px color-mix(in srgb, var(--color-bd-accent-strong), black 30%) inset,
    1px 0px 1px 0px var(--color-bd-accent-strong) inset, -1px 0px 1px 0px rgba(0, 0, 0, 0.08) inset,
    0 0 0 1px var(--color-bd-accent-strong) inset;
  --shadow-bg-negative: 0 0 0 1px var(--color-bd-negative), 0 3px 0 0px var(--color-bd-negative);

  --shadow-card: 0px 3px 2px -1px rgba(0, 0, 0, 0.12);
  --shadow-input: 0px 1px 1px 0px rgba(0, 0, 0, 0.08) inset;
  --shadow-popover: rgba(0, 0, 0, 0.16) 0px 4px 16px;

  --breakpoint-desktop: 1024px;
  --breakpoint-mobile: 768px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=--theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  :root {
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius: 0.5rem;

    --navbar-height: 52px;
    --navbar-border: 1px;
    --banner-height: 0;
    --nav-top-offset: calc(var(--navbar-height) + var(--navbar-border));
  }
}

/* Sandpack color scheme fix for SSR */
.dark .sp-wrapper,
.dark .sp-wrapper .sp-wrapper {
  color-scheme: dark !important;
}

.light .sp-wrapper,
.light .sp-wrapper .sp-wrapper {
  color-scheme: light !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.flex > * {
  min-height: 0;
}
