@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius: 0.5rem;

    --navbar-height: 52px;
    --navbar-border: 1px;
    --banner-height: 0;
    --nav-top-offset: calc(var(--navbar-height) + var(--navbar-border));
  }

  :root {
    --color-bg: var(--ramp-white-1000);
    --color-bg-transparent: color-mix(in srgb, var(--color-bg), transparent 10%);
    --color-bg-hover: color-mix(in srgb, var(--color-bg), black 5%);
    --color-bg-active: color-mix(in srgb, var(--color-bg), black 6%);
    --color-bg-selected: color-mix(in srgb, var(--color-bg), black 8%);
    --color-bg-secondary: color-mix(in oklch, var(--color-bg), black 2%);
    --color-bg-accent: var(--ramp-blue-500);
    --color-bg-accent-hover: color-mix(in srgb, var(--color-bg-accent), white 10%);
    --color-bg-accent-active: color-mix(in srgb, var(--color-bg-accent), black 10%);
    --color-bg-accent-subtle: color-mix(in srgb, var(--color-bg-accent), white 80%);
    --color-bg-neutral: var(--ramp-grey-100);
    --color-bg-neutral-hover: color-mix(in srgb, var(--color-bg-neutral), black 5%);
    --color-bg-neutral-subtle: color-mix(in srgb, var(--color-bg-neutral), white 5%);
    --color-bg-neutral-subtle-hover: color-mix(in srgb, var(--color-bg-neutral-subtle), white 10%);
    --color-bg-neutral-subtle-active: color-mix(in srgb, var(--color-bg-neutral-subtle), black 5%);
    --color-bg-neutral-strong: color-mix(in srgb, var(--color-bg-neutral), black 5%);
    --color-bg-neutral-strong-hover: color-mix(in srgb, var(--color-bg-neutral-strong), black 5%);
    --color-bg-assistive: var(--ramp-grey-900);
    --color-bg-assistive-transparent: color-mix(in srgb, var(--color-bg-assistive), transparent);
    --color-bg-negative: var(--ramp-red-500);
    --color-bg-negative-subtle: color-mix(in srgb, var(--color-bg-negative) 10%, white 90%);
    --color-bg-positive: var(--ramp-green-500);
    --color-bg-positive-subtle: color-mix(in srgb, var(--color-bg-positive) 10%, white 90%);
    --color-bg-easy: var(--ramp-green-500);
    --color-bg-easy-subtle: color-mix(in srgb, var(--color-bg-easy) 10%, white 90%);
    --color-bg-easy-strong: color-mix(in srgb, var(--color-bg-easy), 8% black);
    --color-bg-medium: var(--ramp-orange-500);
    --color-bg-medium-subtle: color-mix(in srgb, var(--color-bg-medium) 10%, white 90%);
    --color-bg-medium-strong: color-mix(in srgb, var(--color-bg-medium), 8% black);
    --color-bg-hard: var(--ramp-red-500);
    --color-bg-hard-subtle: color-mix(in srgb, var(--color-bg-hard) 10%, white 90%);
    --color-bg-hard-strong: color-mix(in srgb, var(--color-bg-hard), 8% black);
    --color-bg-extreme: var(--ramp-purple-500);
    --color-bg-extreme-subtle: color-mix(in srgb, var(--color-bg-extreme) 10%, white 90%);
    --color-bg-extreme-strong: color-mix(in srgb, var(--color-bg-extreme), 8% black);
    --color-bg-question: var(--ramp-purple-100);
    --color-bg-quiz: var(--ramp-orange-100);

    --color-fg: var(--ramp-grey-900);
    --color-fg-subtle: color-mix(in srgb, var(--color-fg) 70%, white 20%);
    --color-fg-subtle-hover: color-mix(in srgb, var(--color-fg-subtle), black 30%);
    --color-fg-onaccent: var(--ramp-white-1000);
    --color-fg-accent: var(--ramp-blue-500);
    --color-fg-accent-strong: color-mix(in srgb, var(--color-fg-accent), black 20%);
    --color-fg-neutral: var(--ramp-grey-900);
    --color-fg-neutral-subtle: color-mix(in srgb, var(--color-fg-neutral), transparent 60%);
    --color-fg-neutral-subtle-hover: color-mix(in srgb, var(--color-fg-neutral-subtle), black 30%);
    --color-fg-invert: var(--ramp-white-1000);
    --color-fg-on-assistive: var(--ramp-white-1000);
    --color-fg-negative: var(--ramp-red-500);
    --color-fg-positive: var(--ramp-green-600);
    --color-fg-on-positive: var(--ramp-white-1000);
    --color-fg-easy: var(--ramp-green-900);
    --color-fg-medium: var(--ramp-orange-900);
    --color-fg-hard: var(--ramp-red-900);
    --color-fg-question: var(--ramp-purple-900);
    --color-fg-quiz: var(--ramp-orange-900);

    --color-ic-neutral-subtle: color-mix(in srgb, var(--color-fg-neutral), transparent 60%);

    --color-bd: var(--ramp-grey-300);
    --color-bd-subtle: color-mix(in srgb, var(--color-bd) 90%, transparent 60%);
    --color-bd-hover: color-mix(in srgb, var(--color-bd) 80%, black 20%);
    --color-bd-strong: color-mix(in srgb, var(--color-bd), black 20%);
    --color-bd-accent: var(--ramp-blue-500);
    --color-bd-accent-subtle: color-mix(in srgb, var(--color-bd-accent) 50%, transparent 20%);
    --color-bd-positive: var(--ramp-green-500);
    --color-bd-positive-subtle: color-mix(in srgb, var(--color-bd-positive), transparent 50%);
    --color-bd-assistive: var(--ramp-grey-900);
  }

  .dark {
    --color-bg: color-mix(in srgb, var(--ramp-grey-1000), 5% white);
    --color-bg-hover: color-mix(in srgb, var(--color-bg) 100%, white 8%);
    --color-bg-active: color-mix(in srgb, var(--color-bg) 100%, white 10%);
    --color-bg-selected: color-mix(in srgb, var(--color-bg) 100%, white 12%);
    --color-bg-secondary: var(--ramp-grey-1000);
    --color-bg-accent: var(--ramp-blue-500);
    --color-bg-neutral: color-mix(in srgb, var(--ramp-grey-100), 80% black);
    --color-bg-neutral-subtle: var(--ramp-grey-700);
    --color-bg-positive-subtle: color-mix(in srgb, var(--color-bg-positive), transparent 80%);
    --color-bg-easy-subtle: color-mix(in srgb, var(--ramp-green-100), 80% black);
    --color-bg-easy-strong: color-mix(in srgb, var(--color-bg-easy), 10% black);
    --color-bg-medium-subtle: color-mix(in srgb, var(--ramp-orange-100), 80% black);
    --color-bg-hard-subtle: color-mix(in srgb, var(--ramp-red-100), 80% black);
    --color-bg-extreme-subtle: color-mix(in srgb, var(--ramp-purple-100), 80% black);
    --color-bg-question: color-mix(in srgb, var(--ramp-purple-100), 80% black);
    --color-bg-quiz: color-mix(in srgb, var(--ramp-orange-100), 80% black);

    --color-fg: var(--ramp-white-1000);
    --color-fg-subtle: color-mix(in srgb, var(--color-fg) 70%, black 30%);
    --color-fg-onaccent: var(--ramp-white-1000);
    --color-fg-neutral: color-mix(in srgb, var(--ramp-grey-900), white 80%);
    --color-fg-easy: color-mix(in srgb, var(--ramp-green-900), 50% white);
    --color-fg-medium: color-mix(in srgb, var(--ramp-orange-900), 50% white);
    --color-fg-hard: color-mix(in srgb, var(--ramp-red-900), 50% white);
    --color-fg-question: color-mix(in srgb, var(--ramp-purple-900), 50% white);
    --color-fg-quiz: color-mix(in srgb, var(--ramp-orange-900), 50% white);

    --color-bd: color-mix(in oklch, var(--ramp-grey-600), 50% transparent);
    --color-bd-subtle: color-mix(in srgb, var(--color-bd) 90%, white 2%);
    --color-bd-strong: color-mix(in srgb, var(--color-bd), white 5%);

    --sp-colors-surface1: var(--color-bg) !important;
  }
}

:root {
  --ramp-black-100: rgba(0, 0, 0, 0.05098);
  --ramp-black-200: rgba(0, 0, 0, 0.10196);
  --ramp-black-300: rgba(0, 0, 0, 0.2);
  --ramp-black-400: rgba(0, 0, 0, 0.30196);
  --ramp-black-500: rgba(0, 0, 0, 0.50196);
  --ramp-black-600: rgba(0, 0, 0, 0.8);
  --ramp-black-700: rgba(0, 0, 0, 0.85098);
  --ramp-black-800: rgba(0, 0, 0, 0.89804);
  --ramp-black-900: rgba(0, 0, 0, 0.94902);
  --ramp-black-1000: #000000;
  --ramp-blue-100: #f2f9ff;
  --ramp-blue-200: #e5f4ff;
  --ramp-blue-300: #bde3ff;
  --ramp-blue-400: #80caff;
  --ramp-blue-500: #0d99ff;
  --ramp-blue-600: #007be5;
  --ramp-blue-700: #0768cf;
  --ramp-blue-800: #034ac1;
  --ramp-blue-900: #093077;
  --ramp-blue-1000: #0d193f;
  --ramp-green-100: #ebffee;
  --ramp-green-200: #cff7d3;
  --ramp-green-300: #aff4c6;
  --ramp-green-400: #85e0a3;
  --ramp-green-500: #14ae5c;
  --ramp-green-600: #009951;
  --ramp-green-700: #008043;
  --ramp-green-800: #036838;
  --ramp-green-900: #024626;
  --ramp-green-1000: #083a23;
  --ramp-grey-50: #fafafa;
  --ramp-grey-100: #f5f5f5;
  --ramp-grey-200: #e6e6e6;
  --ramp-grey-300: #d9d9d9;
  --ramp-grey-400: #b3b3b3;
  --ramp-grey-500: #757575;
  --ramp-grey-600: #444444;
  --ramp-grey-700: #383838;
  --ramp-grey-800: #2c2c2c;
  --ramp-grey-900: #1e1e1e;
  --ramp-grey-1000: #111111;
  --ramp-orange-100: #fff4e5;
  --ramp-orange-200: #ffe0c2;
  --ramp-orange-300: #fcd19c;
  --ramp-orange-400: #ffc470;
  --ramp-orange-500: #ffa629;
  --ramp-orange-600: #fc9e24;
  --ramp-orange-700: #f79722;
  --ramp-orange-800: #dd7c0e;
  --ramp-orange-900: #ce7012;
  --ramp-orange-1000: #8a480f;
  --ramp-pale-blue-100: #f1f5f8;
  --ramp-pale-blue-200: #e3ecf2;
  --ramp-pale-blue-300: #d2dae4;
  --ramp-pale-blue-400: #afbccf;
  --ramp-pale-blue-500: #667799;
  --ramp-pale-blue-600: #536383;
  --ramp-pale-blue-700: #4a5878;
  --ramp-pale-blue-800: #394360;
  --ramp-pale-blue-900: #252d41;
  --ramp-pale-blue-1000: #121721;
  --ramp-pale-green-100: #f1f8f2;
  --ramp-pale-green-200: #daecdf;
  --ramp-pale-green-300: #c3e0cc;
  --ramp-pale-green-400: #9fc1aa;
  --ramp-pale-green-500: #678e79;
  --ramp-pale-green-600: #5c806d;
  --ramp-pale-green-700: #517361;
  --ramp-pale-green-800: #476656;
  --ramp-pale-green-900: #2f483c;
  --ramp-pale-green-1000: #172b22;
  --ramp-pale-pink-100: #f6eef4;
  --ramp-pale-pink-200: #f2e3ee;
  --ramp-pale-pink-300: #e8cee1;
  --ramp-pale-pink-400: #daaace;
  --ramp-pale-pink-500: #ab5998;
  --ramp-pale-pink-600: #86507a;
  --ramp-pale-pink-700: #724667;
  --ramp-pale-pink-800: #51344a;
  --ramp-pale-pink-900: #33252f;
  --ramp-pale-pink-1000: #1b1318;
  --ramp-pale-purple-100: #f4f1f8;
  --ramp-pale-purple-200: #ede7f3;
  --ramp-pale-purple-300: #e0d4ed;
  --ramp-pale-purple-400: #c5b2dc;
  --ramp-pale-purple-500: #7f699b;
  --ramp-pale-purple-600: #6b5884;
  --ramp-pale-purple-700: #604d75;
  --ramp-pale-purple-800: #473956;
  --ramp-pale-purple-900: #33293d;
  --ramp-pale-purple-1000: #1a141f;
  --ramp-pale-red-100: #faedeb;
  --ramp-pale-red-200: #f8e5e2;
  --ramp-pale-red-300: #f3cfc9;
  --ramp-pale-red-400: #eba99d;
  --ramp-pale-red-500: #d4583b;
  --ramp-pale-red-600: #a55440;
  --ramp-pale-red-700: #864537;
  --ramp-pale-red-800: #60332a;
  --ramp-pale-red-900: #412621;
  --ramp-pale-red-1000: #1f1514;
  --ramp-pale-yellow-100: #fff5eb;
  --ramp-pale-yellow-200: #fdeece;
  --ramp-pale-yellow-300: #f5dfa8;
  --ramp-pale-yellow-400: #e8cd7d;
  --ramp-pale-yellow-500: #ad7f00;
  --ramp-pale-yellow-600: #906800;
  --ramp-pale-yellow-700: #7a5800;
  --ramp-pale-yellow-800: #5c4100;
  --ramp-pale-yellow-900: #3a2a10;
  --ramp-pale-yellow-1000: #211a12;
  --ramp-pink-100: #fff0fe;
  --ramp-pink-200: #ffe0fc;
  --ramp-pink-300: #ffbdf2;
  --ramp-pink-400: #ff99e0;
  --ramp-pink-500: #ff24bd;
  --ramp-pink-600: #ea10ac;
  --ramp-pink-700: #cb0b96;
  --ramp-pink-800: #971172;
  --ramp-pink-900: #5f114c;
  --ramp-pink-1000: #451138;
  --ramp-purple-100: #f9f5ff;
  --ramp-purple-200: #f1e5ff;
  --ramp-purple-300: #e4ccff;
  --ramp-purple-400: #d9b8ff;
  --ramp-purple-500: #9747ff;
  --ramp-purple-600: #8638e5;
  --ramp-purple-700: #7c2bda;
  --ramp-purple-800: #681abb;
  --ramp-purple-900: #4b0d87;
  --ramp-purple-1000: #2d0f46;
  --ramp-red-100: #fff5f5;
  --ramp-red-200: #ffe2e0;
  --ramp-red-300: #ffc7c2;
  --ramp-red-400: #ffafa3;
  --ramp-red-500: #f24822;
  --ramp-red-600: #dc3412;
  --ramp-red-700: #bd2915;
  --ramp-red-800: #9f1f18;
  --ramp-red-900: #771208;
  --ramp-red-1000: #660e0b;
  --ramp-teal-100: #ebfbff;
  --ramp-teal-200: #cef0f8;
  --ramp-teal-300: #b6ecf7;
  --ramp-teal-400: #75d7f0;
  --ramp-teal-500: #00a2c2;
  --ramp-teal-600: #0087a8;
  --ramp-teal-700: #047195;
  --ramp-teal-800: #085a78;
  --ramp-teal-900: #093c53;
  --ramp-teal-1000: #0e2f43;
  --ramp-white-100: rgba(255, 255, 255, 0.05098);
  --ramp-white-200: rgba(255, 255, 255, 0.10196);
  --ramp-white-300: rgba(255, 255, 255, 0.2);
  --ramp-white-400: rgba(255, 255, 255, 0.4);
  --ramp-white-500: rgba(255, 255, 255, 0.69804);
  --ramp-white-600: rgba(255, 255, 255, 0.8);
  --ramp-white-700: rgba(255, 255, 255, 0.85098);
  --ramp-white-800: rgba(255, 255, 255, 0.89804);
  --ramp-white-900: rgba(255, 255, 255, 0.94902);
  --ramp-white-1000: #ffffff;
  --ramp-yellow-100: #fffbeb;
  --ramp-yellow-200: #fff1c2;
  --ramp-yellow-300: #ffe8a3;
  --ramp-yellow-400: #ffd966;
  --ramp-yellow-500: #ffcd29;
  --ramp-yellow-600: #ffc21a;
  --ramp-yellow-700: #fab815;
  --ramp-yellow-800: #eba611;
  --ramp-yellow-900: #dd940e;
  --ramp-yellow-1000: #b86200;
}

/* this is required because sandpack root is not getting color scheme due server-side rendering */
.dark .sp-wrapper,
.dark .sp-wrapper .sp-wrapper {
  color-scheme: dark !important;
}

.light .sp-wrapper,
.light .sp-wrapper .sp-wrapper {
  color-scheme: light !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.flex > * {
  min-height: 0;
}
