@theme {
  --color-bg: white;
  --color-bg-transparent: color-mix(in srgb, var(--color-bg), transparent 10%);
  --color-bg-hover: color-mix(in srgb, var(--color-bg), black 5%);
  --color-bg-active: color-mix(in srgb, var(--color-bg), black 6%);
  --color-bg-selected: color-mix(in srgb, var(--color-bg), black 8%);
  --color-bg-secondary: color-mix(in oklch, var(--color-bg), black 2%);
  --color-bg-accent: var(--color-blue-500);
  --color-bg-accent-hover: color-mix(in srgb, var(--color-bg-accent), white 10%);
  --color-bg-accent-active: color-mix(in srgb, var(--color-bg-accent), black 10%);
  --color-bg-accent-subtle: color-mix(in srgb, var(--color-bg-accent), white 80%);
  --color-bg-accent-strong: color-mix(in srgb, var(--color-bg-accent), black 20%);
  --color-bg-neutral: var(--color-gray-100);
  --color-bg-neutral-hover: color-mix(in srgb, var(--color-bg-neutral), black 5%);
  --color-bg-neutral-subtle: color-mix(in srgb, var(--color-bg-neutral), white 5%);
  --color-bg-neutral-subtle-hover: color-mix(in srgb, var(--color-bg-neutral-subtle), white 10%);
  --color-bg-neutral-subtle-active: color-mix(in srgb, var(--color-bg-neutral-subtle), black 5%);
  --color-bg-neutral-strong: color-mix(in srgb, var(--color-bg-neutral), black 5%);
  --color-bg-neutral-strong-hover: color-mix(in srgb, var(--color-bg-neutral-strong), black 5%);
  --color-bg-assistive: var(--color-gray-900);
  --color-bg-assistive-transparent: color-mix(in srgb, var(--color-bg-assistive), transparent);
  --color-bg-negative: var(--color-red-500);
  --color-bg-negative-subtle: color-mix(in srgb, var(--color-bg-negative) 10%, white 90%);
  --color-bg-positive: var(--color-green-500);
  --color-bg-positive-subtle: color-mix(in srgb, var(--color-bg-positive) 10%, white 90%);
  --color-bg-easy: var(--color-green-500);
  --color-bg-easy-subtle: color-mix(in srgb, var(--color-bg-easy) 10%, white 90%);
  --color-bg-easy-strong: color-mix(in srgb, var(--color-bg-easy), 8% black);
  --color-bg-medium: var(--color-orange-500);
  --color-bg-medium-subtle: color-mix(in srgb, var(--color-bg-medium) 10%, white 90%);
  --color-bg-medium-strong: color-mix(in srgb, var(--color-bg-medium), 8% black);
  --color-bg-hard: var(--color-red-500);
  --color-bg-hard-subtle: color-mix(in srgb, var(--color-bg-hard) 10%, white 90%);
  --color-bg-hard-strong: color-mix(in srgb, var(--color-bg-hard), 8% black);
  --color-bg-extreme: var(--color-purple-500);
  --color-bg-extreme-subtle: color-mix(in srgb, var(--color-bg-extreme) 10%, white 90%);
  --color-bg-extreme-strong: color-mix(in srgb, var(--color-bg-extreme), 8% black);
  --color-bg-question: var(--color-purple-100);
  --color-bg-quiz: var(--color-orange-100);

  --color-fg: var(--color-gray-900);
  --color-fg-subtle: color-mix(in srgb, var(--color-fg) 70%, white 20%);
  --color-fg-subtle-hover: color-mix(in srgb, var(--color-fg-subtle), black 30%);
  --color-fg-onaccent: white;
  --color-fg-accent: var(--color-blue-500);
  --color-fg-accent-strong: color-mix(in srgb, var(--color-fg-accent), black 20%);
  --color-fg-neutral: var(--color-gray-900);
  --color-fg-neutral-subtle: color-mix(in srgb, var(--color-fg-neutral), transparent 40%);
  --color-fg-neutral-subtle-hover: color-mix(in srgb, var(--color-fg-neutral-subtle), black 30%);
  --color-fg-invert: white;
  --color-fg-on-assistive: white;
  --color-fg-negative: var(--color-red-500);
  --color-fg-positive: var(--color-green-600);
  --color-fg-on-positive: white;
  --color-fg-easy: var(--color-green-900);
  --color-fg-medium: var(--color-orange-900);
  --color-fg-hard: var(--color-red-900);
  --color-fg-question: var(--color-purple-900);
  --color-fg-quiz: var(--color-orange-900);

  --color-ic-neutral-subtle: color-mix(in srgb, var(--color-fg-neutral), transparent 60%);

  --color-bd: var(--color-gray-300);
  --color-bd-subtle: color-mix(in srgb, var(--color-bd) 90%, transparent 60%);
  --color-bd-hover: color-mix(in srgb, var(--color-bd) 80%, black 20%);
  --color-bd-strong: color-mix(in srgb, var(--color-bd), black 20%);
  --color-bd-accent: var(--color-blue-500);
  --color-bd-accent-strong: color-mix(in srgb, var(--color-bd-accent), black 20%);
  --color-bd-accent-subtle: color-mix(in srgb, var(--color-bd-accent) 50%, transparent 20%);
  --color-bd-positive: var(--color-green-500);
  --color-bd-positive-subtle: color-mix(in srgb, var(--color-bd-positive), transparent 50%);
  --color-bd-assistive: var(--color-gray-900);
}

.dark {
  --color-bg: color-mix(in srgb, var(--color-gray-950), 5% white);
  --color-bg-hover: color-mix(in srgb, var(--color-bg) 100%, white 8%);
  --color-bg-active: color-mix(in srgb, var(--color-bg) 100%, white 10%);
  --color-bg-selected: color-mix(in srgb, var(--color-bg) 100%, white 12%);
  --color-bg-secondary: var(--color-gray-950);
  --color-bg-accent: var(--color-blue-500);
  --color-bg-neutral: color-mix(in srgb, var(--color-gray-100), 80% black);
  --color-bg-neutral-subtle: var(--color-gray-700);
  --color-bg-positive-subtle: color-mix(in srgb, var(--color-bg-positive), transparent 80%);
  --color-bg-easy-subtle: color-mix(in srgb, var(--color-green-100), 80% black);
  --color-bg-easy-strong: color-mix(in srgb, var(--color-bg-easy), 10% black);
  --color-bg-medium-subtle: color-mix(in srgb, var(--color-orange-100), 80% black);
  --color-bg-hard-subtle: color-mix(in srgb, var(--color-red-100), 80% black);
  --color-bg-extreme-subtle: color-mix(in srgb, var(--color-purple-100), 80% black);
  --color-bg-question: color-mix(in srgb, var(--color-purple-100), 80% black);
  --color-bg-quiz: color-mix(in srgb, var(--color-orange-100), 80% black);

  --color-fg: white;
  --color-fg-subtle: color-mix(in srgb, var(--color-fg) 70%, black 30%);
  --color-fg-onaccent: white;
  --color-fg-neutral: color-mix(in srgb, var(--color-gray-900), white 80%);
  --color-fg-easy: color-mix(in srgb, var(--color-green-900), 50% white);
  --color-fg-medium: color-mix(in srgb, var(--color-orange-900), 50% white);
  --color-fg-hard: color-mix(in srgb, var(--color-red-900), 50% white);
  --color-fg-question: color-mix(in srgb, var(--color-purple-900), 50% white);
  --color-fg-quiz: color-mix(in srgb, var(--color-orange-900), 50% white);

  --color-bd: color-mix(in oklch, var(--color-gray-600), 50% transparent);
  --color-bd-subtle: color-mix(in srgb, var(--color-bd) 90%, white 2%);
  --color-bd-strong: color-mix(in srgb, var(--color-bd), white 5%);

  --sp-colors-surface1: var(--color-bg) !important;
}